body {
  display: grid;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  grid-template-areas:
    "aside header"
    "aside main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
}

aside {
  background-color: #3A4353;
  color: #C2C2C2;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  grid-area: aside;
  height: 100%;
}

aside a:link,
aside a:visited {
  color: #C2C2C2;
}

aside a:hover {
  color: #FFFFFF;
}

.aside {
  border-top: 2px solid #13363B;
}

#aside-user {
  text-align: center;
}

#aside-user__photo {
  border-radius: 50%;
  margin: 50px 10px 10px auto;
  width: 120px;
}

#aside-user__name {
  margin: 10px auto 30px auto;
  text-align: center;
}

#aside-user__name:hover {
  color: #FFFFFF
}

h5 {
  color: #979AAD;
  font-size: 1.2rem;
  margin: 20px 0 0 20px;
}

.aside-main__ul,
.aside-admin__ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 20px 30px 0 20px;
}

.aside-main,
.aside-admin {
  padding: 2px 20px 30px 40px;
  vertical-align: bottom;
}

#aside-main__home {background: url(../images/icons-grey/home.svg) no-repeat; background-size: 20px;}
#aside-main__jobs {background: url(../images/icons-grey/jobs.svg) no-repeat; background-size: 20px;}
#aside-main__resumes {background: url(../images/icons-grey/resumes.svg) no-repeat; background-size: 20px;}
#aside-main__tasks {background: url(../images/icons-grey/tasks.svg) no-repeat; background-size: 20px;}
#aside-main__calendar {background: url(../images/icons-grey/calendar.svg) no-repeat; background-size: 20px;}
#aside-main__users {background: url(../images/icons-grey/users.svg) no-repeat; background-size: 20px;}
#aside-main__locations {background: url(../images/icons-grey/locations.svg) no-repeat; background-size: 20px;}
#aside-main__workflows {background: url(../images/icons-grey/workflows.svg) no-repeat; background-size: 20px;}
#aside-main__job-boards {background: url(../images/icons-grey/jobboards.svg) no-repeat; background-size: 20px;}
#aside-main__social {background: url(../images/icons-grey/social.svg) no-repeat; background-size: 20px;}

#aside-main__home:hover {
  background: url(../images/icons-white/home.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__jobs:hover {
  background: url(../images/icons-white/jobs.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__resumes:hover {
  background: url(../images/icons-white/resumes.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__tasks:hover {
  background: url(../images/icons-white/tasks.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__calendar:hover {
  background: url(../images/icons-white/calendar.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__users:hover {
  background: url(../images/icons-white/users.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__locations:hover {
  background: url(../images/icons-white/locations.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__workflows:hover {
  background: url(../images/icons-white/workflows.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__job-boards:hover {
  background: url(../images/icons-white/jobboards.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

#aside-main__social:hover {
  background: url(../images/icons-white/social.svg) no-repeat; background-size: 20px;
  color: #FFFFFF;
}

.aside-categories {
  padding: 0px 0px 30px 0px;
}

.aside-categories__ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 20px 20px 0 20px;
}

label {
  display: inline;
  padding: 0 0 0 13px;
}

.aside-categories__checkbox {
  display: none;
}

.aside-categories__checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  display: inline-block;
  padding: 10px;
  position: relative;
  top: 5px;
}

.aside-categories__checkbox:checked:after {
  color: #3A4353;
  content: '\2714';
  font-size: 18px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.aside-categories__checkbox:active, .aside-categories__checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.aside-categories__checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #3A4353;
}

#aside-main__administrative-checkbox {background-color: #FFFF00;}
#aside-main__design-checkbox {background-color: #00FFFF;}
#aside-main__executive-checkbox {background-color: #FF0000;}
#aside-main__human-resources-checkbox {background-color: #D2B48C;}

.aside-main:hover,
.aside-admin:hover,
.aside-categories:hover {
  color: #FFFFFF;
}

.aside__show-hide {
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 92%;
}

.aside__show-hide hr {
  color: #8F8F8F;
  height: 1px;
}

.aside__show-hide img { 
  background-color: white;
  border-radius: 50%;
  border: 10px solid #EEF2F6;
  margin: 5px;
  position: relative; 
  top: -38px;
  transform: rotate(180deg);
  width: 25px;
}

header {
  display: grid;
  grid-area: header;
  grid-template-areas:
    "top"
    "bottom";
  grid-template-rows: 40px 1fr;
}

#header-top {
  display: flex;
  grid-area: top;
  height: 100px;
}

.header-top__button {
  border: 1px solid #8F8F8F;
  cursor: pointer;
  height: 100px;
  line-height: 100px;
  padding: 15px 15px 15px 15px;
  width: 100px;
}

.header-top__search {
  border: 1px solid #8F8F8F;
  flex: 2 2;
  font-size: 2rem;
  padding: 15px 15px 15px 80px;
}

#header-top__search-long {
  display: inline-block;
  background: url(../images/icons-grey/search.svg) 30px/30px no-repeat;
}

#header-top__search-medium {
  display: none;
  background: url(../images/icons-grey/search.svg) 30px/30px no-repeat;
  width: 100px;
}

#header-top__search-button {
  background: url(../images/icons-grey/search.svg) 30px/30px no-repeat;
  display: none;
}

::placeholder {
  color: #C2C2C2;
  font-size: 90%;
}

#header-top__collapse {
  background: url(../images/icons-grey/collapse.svg) center/30px no-repeat;
}

#header-top__profile {background: url(../images/icons-grey/profile.svg) center/30px no-repeat}
#header-top__notifications {background: url(../images/icons-grey/notifications.svg) center/30px no-repeat}
#header-top__layout {background: url(../images/icons-grey/layout.svg) center/30px no-repeat}

#header-top__collapse:hover {
  background: url(../images/icons-white/collapse.svg) center/30px no-repeat;
  background-color: #D80CF8;
}

#header-top__profile:hover {
  background: url(../images/icons-white/profile.svg) center/30px no-repeat;
  background-color: #D80CF8;
}

#header-top__notifications:hover {
  background: url(../images/icons-white/notifications.svg) center/30px no-repeat;
  background-color: #D80CF8;
}

#header-top__layout:hover {
  background: url(../images/icons-white/layout.svg) center/30px no-repeat;
  background-color: #D80CF8;
}

#header-bottom {
  border-top: 1px solid #8F8F8F;
  display: grid;
  grid-area: bottom;
  grid-template-areas: 
    "location menu"
    "nav nav";
  grid-template-columns: 1fr 510px;
  margin: 60px 0 0 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0 0;
}

#header-bottom__job-title {
  color: #8F8F8F;
  grid-area: location;
  padding: 50px 35px;
}

#header-bottom__location {
  background: url(../images/icons-grey/location.svg) left/22px no-repeat;
  margin: 10px 0 0 0;
  padding: 0 0 0 30px;
}

#header-bottom__preview a:link,
#header-bottom__preview a:visited {
  color: #D80CF8;
}

#header-bottom__preview a:hover {
  color: #000000;
}

#header-bottom__preview:before {
  content: "\2022  "
}

.header-bottom__button {
  border-radius: 50%;
  border: 1px solid #8F8F8F;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 10px 10px 10px 10px;
  padding: 12px;
  vertical-align: middle;
  width: 35px;
}

#header-bottom__menu {
  grid-area: menu;
  line-height: 175px;
  padding: 0 35px;
  text-align: right;
}

#header-bottom__menu-open {
  background: url(../images/green-circle.svg) 25px/15px no-repeat;
  border-radius: 35px;
  color: #8F8F8F;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 25px 10px 0;
  width: 120px;
}

#header-bottom__menu-bookmark {
  background: url(../images/icons-grey/bookmark.svg) center/25px no-repeat;
  cursor: pointer;
}

#header-bottom__menu-edit {
  background: url(../images/icons-grey/edit.svg) center/25px no-repeat;
  cursor: pointer;
}

#header-bottom__menu-trash {
  background: url(../images/icons-grey/trash.svg) center/25px no-repeat;
  cursor: pointer;
}

#header-bottom__menu-open:hover {
  background: url(../images/green-circle.svg) 25px/15px no-repeat;
  background-color: #D80CF8;
  color: #FFFFFF;
}

#header-bottom__menu-bookmark:hover {
  background: url(../images/icons-white/bookmark.svg) center/25px no-repeat;
  background-color: #D80CF8;
}

#header-bottom__menu-edit:hover {
  background: url(../images/icons-white/edit.svg) center/25px no-repeat;
  background-color: #D80CF8;
}

#header-bottom__menu-trash:hover {
  background: url(../images/icons-white/trash.svg) center/25px no-repeat;
  background-color: #D80CF8;
}

#header-bottom__nav {
  grid-area: nav;
}

#header-bottom__nav ul {
  border: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#header-bottom__nav li a:link,
#header-bottom__nav li a:visited {
  color: #8F8F8F;
  float: left;
  font-size: 90%;
  font-weight: 700;
  margin: 0 0.9%;
  padding: 1rem 0;
  text-align: center;
  width: 12%;
}

.header-bottom__nav-active a {
  box-shadow: 0 10px 0 0 #D80CF8;
  padding-bottom: 10px;
}

#header-bottom__nav li a:hover {
  color: #292929;
}

main {
  background-color: #EEF2F6;
}

#main-top {
  border-top: 1px solid #8F8F8F;
}

.main-top__charts {
  align-content: center;
  display: inline-block;
  padding: 0 0 0 2%;
  text-align: center;
  width: 47%;
}

.main-top__circle {
  background: #EEF2F6;
  border-radius: 50%;
  display: inline-block;
  margin: 3rem 3rem 3rem 3rem;
  position: relative;
  width: 10rem; height: 10rem;
}

/*Circle properties in deliberate order*/

#main-top__circle-one {
  border: 1em solid #67BAC2;
  border-right-color: #DBE4E8;
}

#main-top__circle-two {
  border: 1em solid #DBE4E8;
  border-left-color: #67BAC2;
}

#main-top__circle-three {
  border: 1em solid #67BAC2;
}

.main-top__circle-value {
  font-size: 3.5rem;
  margin: 0 0 0 0;
  position: relative;
  top: 40px;
}

.main-top__circle-unit {
  margin: 0 0 0 0;
  position: relative;
  top: 50px;
}

.main-top__charts-bar-graph {
  height: 220px;
  margin: 0 0 65px 0;
  overflow: hidden;
}

.main-top__charts-bar-graph img {
  height: 250px;
  width: 80%;
}

.main-top__charts-legend {
  background-color: #FFFFFF;
  border-radius: 35px;
  border: 1px solid #8F8F8F;
  color: #8F8F8F;
  font-size: 1.5rem;
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  margin: 10px auto 35px auto;
  padding: 12px;
  vertical-align: middle;
}

#main-top__charts-legend-circles {
  width: 350px;
}

#main-top__charts-legend-bar-graph {
  width: 200px;
}

.main-top__show-hide {
  margin: 0 auto;
  text-align: center;
  width: 92%;
}

.main-top__show-hide hr {
  color: #8F8F8F;
  height: 1px;
}

.main-top__show-hide img { 
  background-color: white;
  border-radius: 50%;
  border: 10px solid #EEF2F6;
  margin: 5px;
  position: relative; 
  top: -38px;
  transform: rotate(180deg);
  width: 25px;
}

#main-bottom {
  display: flex;
  padding: 0 0 20px 0;
}

#main-bottom a:link,
#main-bottom a:visited {
  color: #FFFFFF;
}

#main-bottom__description {
  flex: 4;
}

.main-bottom__description-table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  display: grid;
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight"
    "nine ten"
    "eleven twelve"
    "thirteen fourteen"
    "fifteen sixteen"
    "seventeen eighteen";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0 4%;
  padding: 0;
  width: 92%;
}

.main-bottom__description-table-cell {
  border-bottom: 1px solid #C2C2C2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

#main-bottom__description-table-cell-one {grid-area: one}
#main-bottom__description-table-cell-two {grid-area: two}
#main-bottom__description-table-cell-three {grid-area: three}
#main-bottom__description-table-cell-four {grid-area: four}
#main-bottom__description-table-cell-five {grid-area: five}
#main-bottom__description-table-cell-six {grid-area: six}
#main-bottom__description-table-cell-seven {grid-area: seven}
#main-bottom__description-table-cell-eight {grid-area: eight}
#main-bottom__description-table-cell-nine {grid-area: nine}
#main-bottom__description-table-cell-ten {grid-area: ten}
#main-bottom__description-table-cell-eleven {grid-area: eleven}
#main-bottom__description-table-cell-twelve {grid-area: twelve}
#main-bottom__description-table-cell-thirteen {grid-area: thirteen}
#main-bottom__description-table-cell-fourteen {grid-area: fourteen}
#main-bottom__description-table-cell-fifteen {grid-area: fifteen}
#main-bottom__description-table-cell-sixteen {grid-area: sixteen}
#main-bottom__description-table-cell-seventeen {grid-area: seventeen}
#main-bottom__description-table-cell-eighteen {grid-area: eighteen}

.main-bottom__description-table-cell-top {
  background-color: #67BAC2;
}

h3 {
  color: #8F8F8F;
  padding: 10% 16%;
  text-align: left;
}

h6 {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0% 8%;
}

#main-bottom__description-edit {
  background: url(../images/icons-white/edit.svg) 25px/25px no-repeat;
  background-color: #7F8CA5;
  color: #FFFFFF;
  font-size: 2rem;
  margin: 0;
  padding: 20px 20px 20px 40px;
  width: 75px;
}

#main-bottom__description-edit:hover {
  background-color: #D80CF8;
}

.main-bottom__description-table p {
  color: #8F8F8F;
  font-size: 2rem;
  font-weight: 500;
  margin: 5% 10% 5% 0;
  word-wrap: normal;
}

.main-bottom__description-table p img {
  border-radius: 50%;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 50px;
}

#main-bottom__description-salary {
  color: #FF0000;
}

#main-bottom__aside {
  align-content: center;
  flex: 1 180px;
  margin: 0 4% 0 0;
  text-align: center;
}

.main-bottom__aside-social-box {
  color: white;
  font-size: 120%;
  height: 75px;
  line-height: 75px;
  margin: 0% 0 5% 0;
  vertical-align: middle;
  width: 100%;
}

#main-bottom__aside-social-facebook {
  background: url(../images/icons-white/facebook.svg) 30px/30px no-repeat;
  background-color: #4F6FBB;
}

#main-bottom__aside-social-twitter {
  background: url(../images/icons-white/twitter.svg) 30px/30px no-repeat;
  background-color: #45A8E9;
}

#main-bottom__aside-social-linkedin {
  background: url(../images/icons-white/linkedin.svg) 30px/30px no-repeat;
  background-color: #337FB6;
}

.main-bottom__aside-social-box a:hover {
  font-weight: 700;
}

h4 {
  color: #8F8F8F;
  font-size: 2rem;
  font-weight: 700;
  margin: 30px 0 -10px 0;
  padding: 25px 0 25px 50px;
  text-align: left;
}

#main-bottom__aside-link {
  background: url(../images/icons-grey/link.svg) 10px/30px no-repeat;
}

#main-bottom__aside-widget {
  background: url(../images/icons-grey/widget.svg) 10px/30px no-repeat;
}

#main-bottom__aside-email {
  background: url(../images/icons-grey/email.svg) 10px/30px no-repeat;
}

.main-bottom p {
  font-size: 1.6rem;
  margin: 10px 10px;
  text-align: left;
}

article {
  padding: 0 1% 0 1%;
  text-align: left;
}

.main-bottom__aside-input {
  height: 4rem;
  overflow: hidden;
  padding: 0 2%;
  width: 75%;
}

.main-bottom__aside-copy {
  background-color: #65B8C0;
  color: #FFFFFF;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  margin: -6px;
  padding: 0 2%;
  text-align: center;
  width: 15%;
}

.main-bottom__aside-copy:hover {
  background-color: #D80CF8;
}

@media screen and (max-width: 1440px){

  body {
    grid-template-columns: 210px 1fr;
  }

  ::placeholder {
    font-size: 80%;
  }

  #aside-user__name {
    font-size: 1rem;
  }

/*Circle properties in deliberate order*/

  .main-top__circle {
    margin: 30px 4% 2rem 1%;
    width: 6rem; height: 6rem;
  }

  #main-top__circle-one {
    border: 0.5rem solid #67BAC2;
    border-right-color: #DBE4E8
  }

  #main-top__circle-two {
    border: 0.5rem solid #DBE4E8;
    border-left-color: #67BAC2;
  }

  #main-top__circle-three {
    border: 0.5rem solid #67BAC2;
  }

  .main-top__circle-value {
    font-size: 2rem;
    top: 25px;
  }

  .main-top__circle-unit {
    font-size: 1rem;
    top: 25px;
  }

  .main-top__charts-bar-graph {
    height: 115px;
    margin: 0 0 40px 0;
  }

  .main-top__charts-bar-graph img {
    height: 130px;
  }

  .main-top__charts-legend {
    border-radius: 25px;
    font-size: 1rem;
    height: 15px;
    line-height: 15px;
    margin: 10px auto 35px auto;
    padding: 12px;
  }

  #main-top__charts-legend-circles {
    width: 225px;
  }

  #main-top__charts-legend-bar-graph {
    width: 120px;
  }

  h3 {
    font-size: 1rem;
    padding: 4% 8%;
  }

  #main-bottom__description-edit {
    background: url(../images/icons-white/edit.svg) 15px/15px no-repeat;
    background-color: #7F8CA5;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 40px;
    width: 35px;
  }

  .main-bottom__description-table p img {
    margin: 0 5px 0 0;
    width: 30px;
  }

  #main-bottom__aside {
    flex: 1 100px;
    margin: 0 4% 0 0;
  }

  .main-bottom__aside-social-box {
    font-size: 80%;
    height: 50px;
    line-height: 50px;
    margin: 0% 0 5% 0;
  }

  #main-bottom__aside-social-facebook {
    background: url(../images/icons-white/facebook.svg) 20px/20px no-repeat;
    background-color: #4F6FBB;
  }

  #main-bottom__aside-social-twitter {
    background: url(../images/icons-white/twitter.svg) 20px/20px no-repeat;
    background-color: #45A8E9;
  }

  #main-bottom__aside-social-linkedin {
    background: url(../images/icons-white/linkedin.svg) 20px/20px no-repeat;
    background-color: #337FB6;
  }

  h4 {
    font-size: 1rem;
    margin: 15px 0 -25px 0;
    padding: 25px 0 25px 35px;
  }

  #main-bottom__aside-link {
    background: url(../images/icons-grey/link.svg) 5px/20px no-repeat;
  }

  #main-bottom__aside-widget {
    background: url(../images/icons-grey/widget.svg) 5px/20px no-repeat;
  }

  #main-bottom__aside-email {
    background: url(../images/icons-grey/email.svg) 5px/20px no-repeat;
  }

  .main-bottom p {
    font-size: 0.8rem;
    margin: 10px 10px;
  }

  .main-bottom__aside-input {
    height: 2rem;
  }

  .main-bottom__aside-copy {
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
  }

}

@media screen and (max-width: 1100px){

  #header-bottom {
    display: grid;
    grid-template-areas: 
      "title title"
      "menu menu"
      "nav nav";
    grid-template-rows: auto;
  }

  #header-bottom__job-title {
    grid-area: title;
    padding: 25px 35px;
    width: 100%;
  }

  #header-bottom__menu {
    grid-area: menu;
    line-height: 35px;
    text-align: left;
  }

  #header-bottom__menu-open {
    padding: 12px 0 12px 20px;
    text-align: center;
  }

  #header-bottom__nav {
    grid-area: nav;
    width: 100%
  }

  #header-bottom__nav li a:link,
  #header-bottom__nav li a:visited {
    font-size: 60%;
  }

  .header-bottom__nav-active a {
    box-shadow: 0 10px 0 0 #D80CF8;
    padding-bottom: 10px;
  }

  .main-top__container {
    display: grid;
    grid-template-areas:
      "circles"
      "graphs";
    grid-template-rows: auto;
  }

  #main-top__charts-circles, 
  #main-top__charts-bar-graph {
    padding: 0;
    width: 100%;
  }

  #main-top__charts-circles {
    grid-area: circles;
  }

  #main-top__charts-bar-graph {
    grid-area: graphs;
  }

  .main-top__circle {
    margin: 3rem 3rem 1rem 3rem;
  }

  .main-top__charts-bar-graph {
    margin: 0 0 25px 0;
  }

  .main-top__hr {
    margin: -15px auto;
  }

  #main-bottom {
    display: grid;
    grid-template-areas:
      "description description"
      "aside aside";
    grid-template-rows: auto;
  }

  #main-bottom__description {
    grid-area: description;
    width: 100%%
  }

  #main-bottom__aside {
    grid-area: aside;
    padding: 25px 4%;
    width: 92%;
  }

  .main-bottom__aside-social-box {
    margin: 0 0 10px 0;
  }

}

@media screen and (max-width: 1040px){

  #header-top__search-long {
    display: none;
  }

  #header-top__search-medium {
    display: inline-block;
  }

}

@media screen and (max-width: 800px){

  #header-top__search-medium {
    display: none;
  }

  #header-top__search-button {
    display: inline-block;
  }

  .main-top__charts {
    align-content: center;
    display: inline-block;
    padding: 0 0 0 2%;
    text-align: center;
    width: 47%;
  }

  .main-top__circle {
    margin: 2rem 1rem 2rem 1rem;
  }

  .main-top__charts-bar-graph {
    margin: 0 0 25px 0;
  }

  .main-top__hr {
    margin: -15px auto;
  }

  .main-top__circle-value {
    top: 25px;
    font-size: 2rem;
  }

  .main-top__circle-unit {
    top: 25px;
  }

  #header-bottom__nav li {
    font-size: 50%;
  }

}

@media screen and (max-width: 720px) {

  body {
    display: grid;
    grid-template-areas:
      "aside"
      "header"
      "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  aside {
    display: grid;
    grid-area: aside;
    grid-template-areas: 
      "show-hide show-hide"
      "main admin"
      "categories categories";
    grid-template-rows: 25px 1fr;
    height: 30px;
    overflow: hidden;
  }

  h5 {
    margin: 10px 0 0 10px;
  }

  #aside-user {
    display: none;
  }

  .aside-main {
    grid-area: main;
    padding: 2px 5px 30px 40px;
  }

  .aside-admin {
    grid-area: admin;
    padding: 2px 5px 30px 40px;
  }

  #aside-categories {
    grid-area: categories;
  }

  .aside-main__ul,
  .aside-admin__ul,
  .aside-categories__ul {
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
  }

  .aside__show-hide {
    display: block;
    grid-area: show-hide;
    margin: 8px auto;
  }

  .aside__show-hide img { 
    border: 10px solid #3A4353;
    position: relative; 
    transform: rotate(0deg);
  }

  aside:hover {
    height: 600px;
  }

  #header-bottom__job-title {
    width: 60%;
  }

  #header-bottom__menu {
    line-height: 35px;
    text-align: center;
  }

}

@media screen and (max-width: 510px) {

  #header-top {
    display: block;
  }

  .header-top__button {
    display: inline-block;
    float: left;
    height: 20vw;
    line-height: 20vw;
    padding: 0;
    width: 20vw;
  }

  #header-top__search-button {background: url(../images/icons-grey/search.svg) center/30% no-repeat}
  #header-top__collapse {background: url(../images/icons-grey/collapse.svg) center/30% no-repeat}
  #header-top__profile {background: url(../images/icons-grey/profile.svg) center/30% no-repeat}
  #header-top__notifications {background: url(../images/icons-grey/notifications.svg) center/30% no-repeat}
  #header-top__layout {background: url(../images/icons-grey/layout.svg) center/30% no-repeat}

  #header-top__search-button:hover {
    background: url(../images/icons-white/search.svg) center/30% no-repeat;
    background-color: #D80CF8;
  }

  #header-top__collapse:hover {
    background: url(../images/icons-white/collapse.svg) center/30% no-repeat;
    background-color: #D80CF8;
  }

  #header-top__profile:hover {
    background: url(../images/icons-white/profile.svg) center/30% no-repeat;
    background-color: #D80CF8;
  }

  #header-top__notifications:hover {
    background: url(../images/icons-white/notifications.svg) center/30% no-repeat;
    background-color: #D80CF8;
  }

  #header-top__layout:hover {
    background: url(../images/icons-white/layout.svg) center/30% no-repeat;
    background-color: #D80CF8;
  }

  #header-bottom {
    border: none;
    display: block;
    margin: 10vw 0 0 0;
  }

  #header-bottom__preview a:link,
  #header-bottom__preview a:visited {
    display: block;
  }

  #header-bottom__preview:before {
    content: none;
  }

  .header-bottom__button {
    height: 15px;
    line-height: 15px;
    margin: 10px 5px 10px 5px;
    width: 15px;
  }

  #header-bottom__menu {
    grid-area: menu;
    line-height: 35px;
    padding: 0 15px;
    text-align: left;
  }

  #header-bottom__menu-open {
    background: url(../images/green-circle.svg) 15px/15px no-repeat;
    padding: 10px 5px 10px 25px;
    width: 75px;
  }

  #header-bottom__menu-bookmark {
    background: url(../images/icons-grey/bookmark.svg) center/25px no-repeat;
    cursor: pointer;
  }

  #header-bottom__menu-edit {
    background: url(../images/icons-grey/edit.svg) center/25px no-repeat;
    cursor: pointer;
  }

  #header-bottom__menu-trash {
    background: url(../images/icons-grey/trash.svg) center/25px no-repeat;
    cursor: pointer;
  }

  #header-bottom__menu-open:hover {
    background: url(../images/green-circle.svg) 15px/15px no-repeat;
    background-color: #D80CF8;
    color: #FFFFFF;
  }

  #header-bottom__menu-bookmark:hover {
    background: url(../images/icons-white/bookmark.svg) center/25px no-repeat;
    background-color: #D80CF8;
  }

  #header-bottom__menu-edit:hover {
    background: url(../images/icons-white/edit.svg) center/25px no-repeat;
    background-color: #D80CF8;
  }

  #header-bottom__menu-trash:hover {
    background: url(../images/icons-white/trash.svg) center/25px no-repeat;
    background-color: #D80CF8;
  }

  #header-bottom__nav {
    height: 2rem;
    padding: 0 15px;
    width: 90vw;
  }

  #header-bottom__nav ul {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #header-bottom__nav li {
    display: inline;
    float: none;
    width: auto;
  }

  .main-top__circle {
    margin: 1rem 1rem 1rem 1rem;
  }

  .main-bottom__description-table {
    grid-template-columns: 100px 1fr;
  }

  #main-bottom__description-edit {
    background-color: #7F8CA5;
    background: url(../images/icons-white/edit.svg) 10px/15px no-repeat;
    margin: 10px 0 0 20px;
  }

  h3 {
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.8rem;
  }

}
